.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  position: absolute;
  left: 100px;
  top: 100px;
}

.grid div {
  width: 40px;
  height: 40px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}

.start {
  width: 120px;
  height: 40px;
  background-color: royalblue;
  color: antiquewhite;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 25px;
}

.score {
  position: absolute;
  left: 100px;
  top: 70px;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  position: absolute;
  left: 250px;
  top: 10px;
}
